<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultsListSecond" class="grid_10 height800" id="idMuestraSecondTable">
		
		<table  class="fancyTable" id="myTableMuestraSecond" cellpadding="0" cellspacing="0" style="width: 100%">
			<thead>
				<tr>		
					<th th:text="${#messages.msg('muestraSecond.table.vacio')}" colspan="7" style="width: 200px;"></th>			

					<th th:text="${#messages.msg('muestraSecond.table.col7')}" colspan="2" style="width: 50px;"></th>
					
					<th th:text="${#messages.msg('muestraSecond.table.vacio')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.vacio')}" style="width: 0px;" class="hidden-xs"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.vacio')}" style="width: 0px;" class="hidden-xs"></th>
					<th th:text="${#messages.msg('muestraSecond.table.vacio')}" style="width: 30px;"></th>							
				</tr>
				<tr>		
					<th th:text="${#messages.msg('muestraSecond.table.col0')}" style="width: 50px;"></th>			
					<th th:text="${#messages.msg('muestraSecond.table.col1')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col2')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col3')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col4')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.col5')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col6')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col7')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraSecond.table.col8')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.col9')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.col10')}" style="width: 0px;" class="hidden-xs"></th>	
					<th th:text="${#messages.msg('muestraSecond.table.col9')}" style="width: 0px;" class="hidden-xs"></th>
					<th th:text="DUPLICADO" style="width: 30px;"></th>							
				</tr>
			</thead>
		</table>
		
		<script type="text/javascript">
			$( document ).ready(function() {
				$('#myTableMuestraSecond').DataTable({
					"bProcessing": true,
					"serverSide": false,
					"searching": false,
					"lengthChange":   false,
					"bPaginate": false,
					"bInfo": false,
					"ajax":{
						url :"muestraSecond/pagination", // json datasource
			            type: "post",  // type of method  ,GET/POST/DELETE
			            error: function(){
			              $("#myTableMuestraSecond_processing").css("display","none");
			            },
			            "data": function ( d ) {
			            	
			            	d.idCabecera = $('#intIdHide').val();
			            }
					},
					"order": [ 10, 'asc' ],
					"columnDefs": [ 
						{	"width": "200px",
			        		className: "dt-body-center  alto_imput",
			                "targets": [2,3,4,5,6,7,8,9]                
			            },
			            {	"width": "60px",
		        			className: "dt-body-left",
		                	"targets": 1                
		            	},			            
			            {  
			            	"width": "0px",			            
			            	visible: true,	
			                "targets": 11                
			            },
			            {  
			            	"width": "0px",			            
			            	visible: true,	
			                "targets": 10                
			            },
			            { targets: 12, orderable: false, data: 1, className: "dt-body-center", render: 
			            	function(data, type, row){  
			            	var retorno1;
			            	
			            		if(row[11] != 0){
			            			retorno1 = '<input type="checkbox" onclick="addDuplicadoMuestraSecond('+row[10]+')" checked="checked" disabled="disabled"/>';
			            			
			            		}else{
			            			retorno1 = '<input type="checkbox" onclick="addDuplicadoMuestraSecond('+row[10]+')" />';
			            		}
			            		if(row[1] == 'BLANCO'){
									retorno='';
								}else{
									var retorno = row[1] != 'DUPLICADO'? retorno1 : '<button class="btn btn-danger btn-delete-punto" title="Inactivar" onclick="deleteDuplicadoMuestraSecond('+row[10]+')"><span class="glyphicon glyphicon-erase"></span></button>';
								}
			            		
			            		if(row[1] == 'DUPLICADO'){
			            			if( (row[2] == '' || row[2] == undefined)){
			            				retorno = '';
			            			}
			            			
			            		}
								
								return retorno;	 
			            	}
			            },
		              	{"width": "15px",
		              		className: "dt-body-center",
		              		"targets": 0,
		              		"render": function ( data, type, row) {
		              			return row[1] != 'DUPLICADO'? '<button class="btn btn-info btn-modif-punto" title="Editar Equipo" onclick="modificarMuestraSecond('+row[10]+')"><span class="glyphicon glyphicon-pencil"></span></button>':'';
		              		}
		              	}
					]
				});
			}); 
			
			
		</script>	
	</div>
</body>
</html>