<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultsListFirst" class="grid_10 height800" id="idMuestraFirstTable">
		
		<table  class="fancyTable" id="myTableMuestraFirst" cellpadding="0" cellspacing="0" style="width: 100%">
			<thead>
				<tr>		
					<th th:text="${#messages.msg('muestraFirst.table.vacio')}" colspan="3" style="width: 80px;"></th>			

					<th th:text="${#messages.msg('muestraFirst.table.col33')}" colspan="2" style="width: 50px;"></th>
						
					<th th:text="${#messages.msg('muestraFirst.table.col55')}" colspan="2" style="width: 50px;"></th>
					
					<th th:text="${#messages.msg('muestraFirst.table.vacio')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col88')}" colspan="2" style="width: 50px;"></th>
						
					<th th:text="${#messages.msg('muestraFirst.table.vacio')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.vacio')}" style="width: 0px; " class="hidden-xs"></th>		
					<th th:text="${#messages.msg('muestraFirst.table.vacio')}" style="width: 25px;"></th>					
				</tr>
				<tr>		
					<th th:text="${#messages.msg('muestraFirst.table.col0')}" style="width: 20px;"></th>			
					<th th:text="${#messages.msg('muestraFirst.table.col1')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col2')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col3')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col4')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraFirst.table.col5')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col6')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col7')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col8')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col9')}" style="width: 50px;"></th>	
					<th th:text="${#messages.msg('muestraFirst.table.col10')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('muestraFirst.table.col9')}" style="width: 0px;" class="hidden-xs"></th>		
					<th th:text="DUPLICADO" style="width: 25px;"></th>					
				</tr>
			</thead>
		</table>
		
		<script type="text/javascript">
			$( document ).ready(function() {
				$('#myTableMuestraFirst').DataTable({
					"bProcessing": true,
					"serverSide": false,
					"searching": false,
					"lengthChange":   false,
					"bPaginate": false,
					"bInfo": false,
					"ajax":{
						url :"muestraFirst/pagination", // json datasource
			            type: "post",  // type of method  ,GET/POST/DELETE
			            error: function(){
			              $("#myTableMuestraFirst_processing").css("display","none");
			            },
			            "data": function ( d ) {
			            	
			            	d.idCabecera = $('#intIdHide').val();
			            }
					},
					"order": [ 11, 'asc' ],
					"columnDefs": [ 
						///{ targets: '_all', visible: true,  },		
			            {"width": "60px",
		        			className: "dt-body-left",
		                "targets": 1                
		            	},
			            {"width": "30px",
			        		className: "dt-body-center alto_imput",
			                "targets": [2,3,4,5,6,7,8,9,10]                
			            },
			            {  
			            	"width": "0px",
			            	visible: true,
			                "targets": 11                
			            },
			            { targets: 12, orderable: false, data: 1, className: "dt-body-center", render: 
			            	function(data, type, row){  
			            	var retorno1;
			            	
			            		if(row[12] != 0){
			            			retorno1 = '<input type="checkbox" onclick="addDuplicadoMuestraFirst('+row[11]+')" checked="checked" disabled="disabled"/>';
			            			
			            		}else{
			            			retorno1 = '<input type="checkbox" onclick="addDuplicadoMuestraFirst('+row[11]+')" />';
			            		}
			            	
								var retorno = row[1] != 'DUPLICADO'? retorno1 : '<button class="btn btn-danger btn-delete-punto" title="Inactivar" onclick="deleteDuplicadoMuestraFirst('+row[11]+')"><span class="glyphicon glyphicon-erase"></span></button>';
								
								if(row[1] == 'DUPLICADO'){
			            			if( (row[2] == '' || row[2] == undefined)){
			            				retorno = '';
			            			}
			            			
			            		}
								
								return retorno;	 
			            	}
			            },
		              	{"width": "15px",
		              		className: "dt-body-center",
		              		"orderable": false,
		              		"targets": 0,
		              		visible: true,
		              		"data": 1,
		              		"render": function ( data, type, row) {
		              			return row[1] != 'DUPLICADO'? '<button class="btn btn-info btn-modif-punto" title="Editar Equipo" onclick="modificarMuestraFirst('+row[11]+')"><span class="glyphicon glyphicon-pencil"></span></button>':"";
		              		}
		              	}
					]
				});
			}); 
			
			
		</script>	
	</div>
</body>
</html>