<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultsList"  >
				<br/>
		
				<div id="form-edit-parametroplan-id"
				   th:object="${reporteEnsayoCloroBean}"
				  role="form">
				  						
					 <div class="form-group content"> 
							<div class="row">
								<label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.fecha.recepcion')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2 ">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.fechaRecepcion}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.fecha.recepcion')}"/>
			                     </div>
								
								<label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.hora.recepcion')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"   th:value="${reporteEnsayoCloroBean.horaRecepcion}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.hora.recepcion')}"/>
			                     </div>
			                     
			                     <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.plan.muestreo')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.planMuestreo}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.plan.muestreo')}"/>
			                     </div>
			                     
			                     <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.muestreador')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.muestreador}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.muestreador')}"/>
			                     </div>
			 			  </div>
			 				
			 			<div class="row">
			 					 <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.fecha.reporte')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2 ">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60" th:value="${reporteEnsayoCloroBean.fechaReporte}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.fecha.reporte')}"/>
			                     </div>
			                     
								<label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.fecha.inicio')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.fechaInicioEnsayo}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.fecha.inicio')}"/>
			                     </div>
								
								<label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.hora.inicio')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.horaInicioEnsayo}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.hora.inicio')}"/>
			                     </div>
			                     
			                     <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.cloro.metodo.muestreo')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.metodoMuestreo}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.cloro.metodo.muestreo')}"/>
			                     </div>
			 			  </div>
			 
					 	  <div class="row">
					 	  
					 	  		 <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.volumen.muestra')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.volumenMuestra}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.volumen.muestra')}"/>
			                     </div>
			                     
					 	  		 <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.tiempo.contacto')}"></span></label>
								<div class="form-group col-md-2 col-sm-2 col-xs-2 ">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"   th:value="${reporteEnsayoCloroBean.tiempoContacto}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.tiempo.contacto')}"/>
			                     </div>
					 	  	 
			                    <label class="control-label  col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.analista')}"></span></label>
								<div class="form-group  col-md-2 col-sm-2 col-xs-2">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.analista}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.analista')}"/>
			                     </div>
			                     
			                     <label class="control-label col-md-1 col-sm-1 col-xs-1 text-left" for="parametro"><span th:text="${#messages.msg('reporte.ensayo.turno')}"></span></label>
								<div class="form-group col-md-1 col-sm-1 col-xs-1">
			                    <input  type="text" class="form-control"
			                    		   maxlength="60"  th:value="${reporteEnsayoCloroBean.turno}"
			                    	 	   th:placeholder="${#messages.msg('reporte.ensayo.turno')}"/>
			                     </div>
					 	  </div>    				
			</div>
			
<!-- 			TABLA RESULTADO -->
			<table  class="fancyTable" id="tablaReporteHidroBiologicoDetalle" cellpadding="0" cellspacing="0" >
			<thead>
				<tr>
					<th  th:text="${#messages.msg('reporte.ensayo.result.column01')}" style="width: 250px;"></th>
					<th th:text="${#messages.msg('eporte.ensayo.result.column02')}" style="width: 200px;"></th>
					<th th:text="${#messages.msg('eporte.ensayo.result.column03')}" style="width: 200px;"></th>
					<th  th:text="${#messages.msg('eporte.ensayo.result.column04')}" style="width: 100px;"></th>
					<th  th:text="${#messages.msg('eporte.ensayo.result.column05')}" style="width: 100px;"></th>
					<th  th:text="${#messages.msg('eporte.ensayo.result.column06')}" style="width: 100px;"></th>
					<th  th:text="${#messages.msg('eporte.ensayo.result.column07')}" style="width: 100px;"></th>
				</tr>
			</thead>

			<tbody>
			<tr th:each="detalle,stat : *{detalles}"    >  
        	
                   			<td  class ="text-center" th:text="${detalle.puntoDescrip}" ></td>
                   			
                   			<td class ="text-center" th:text="${detalle.ph}" ></td>
                   			
                   			<td class ="text-center" th:text="${detalle.dosisClor}" ></td>
                   			
                   			<td class ="text-center" th:text="${detalle.cloroResidualLibre}"></td>
                   			
                   			<td class ="text-center" th:text="${detalle.cloroResidualTotal}"></td>
                   			
                   			<td class ="text-center" th:text="${detalle.demandaCloro}" ></td>
                   			
                   			<td class ="text-center" th:text="${detalle.descripcion}" ></td>
           		
    		</tr>
    		</tbody>
    		
    		</table>
    		
			</div>
		
	</div>
</body>
</html>