
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
    <div th:fragment="resultsList" class="grid_10 height800">
    
        <br/>
        <form name="form-edit-tablaPoisson" id="form-edit-analisis-hidro"
            method="post" th:action="@{/analisisHidroBiologicoSave}" th:object="${analisisHidroBiologicoMain}" role="form">
                
                <div class="form-group center" >
                
                
                <div class="containerform">
                <p class="main_heading">
                    <legend th:text="${#messages.msg('search.criterios')}">Criterios</legend>
                </p>
                
                <fieldset>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                        
                            <label class="control-label col-md-1 col-sm-1 col-xs-1 text-right" >Fecha</label>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <input type="text" class="form-control" id="idFechaAnalisisHidro" name="idFechaMuestreo"   th:field="*{fecha}"  maxlength="20" />
                            </div>
                            
                            <label class="control-label col-md-1 col-sm-1 col-xs-1 text-right no-padding" th:text="${#messages.msg('analisis.hidrobiologico.punto.muestreo')}"></label>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <select class="form-control" id="cboPuntos" name="cboPuntos" th:field="*{codsub}" style="height: 33px;"></select>
                            </div>
                            
                            <label class="control-label col-md-1 col-sm-1 col-xs-1 text-right no-padding" th:text="${#messages.msg('reporte.hidrobiologico.grupo.organismo')}"></label>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <select class="form-control" id="cboOrganismos" name="codsub" style="height: 33px;" th:field="*{tipoOrganismo}" onchange="cargarOrganismos();">
                               		<option  th:value="-1">--Seleccione--</option>
                                    <option  th:value="${#messages.msg('reporte.hidrobiologico.catalogo.algas')}" th:text="${#messages.msg('reporte.hidrobiologico.column.algas')}"></option>
                                    <option value="22" th:text="${#messages.msg('reporte.hidrobiologico.column.cianobacterias')}"></option>
                                    <option value="23" th:text="${#messages.msg('reporte.hidrobiologico.column.nematodes')}"></option>
                                    <option value="24" th:text="${#messages.msg('reporte.hidrobiologico.column.otros')}"></option>
                                </select>
                            </div>
                            
                            <div class="col-md-2 col-sm-2 col-xs-2">
                            </div>
                        </div>
                    </div>
                    </fieldset>
                    </div>
                    <br/>
                
                    <div class="row actividad border-plan-operativo margen-reporte-plan text-center">
                        <div class="col-md-3 col-sm-3 col-xs-3"></div>
                        <div th:text="${#messages.msg('analisis.hidrobiologico.organismos')}"   class="col-md-4 col-sm-4 col-xs-4 negrita text-center"></div>
                        <div th:text="${#messages.msg('analisis.hidrobiologico.cantidades')}" class="col-md-2 col-sm-2 col-xs-2 negrita text-center"></div>
                        <div class="col-md-3 col-sm-3 col-xs-3"></div>
                    </div>
                    
                    <div th:each="analisis,stat : *{listAnalisis}"  class="row actividad border-plan-operativo margen-reporte-plan">
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center"></div>
                        <div th:text="${analisis.descripcion}" class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
                        <div  class="col-md-2 col-sm-2 col-xs-2 text-center">
                            <input type="text" class="form-control"  style="text-align:center" th:field="*{listAnalisis[__${stat.index}__].cantidad}"/>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center"></div>
                        
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].codigo}"/>
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].descripcion}"/>
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].codsub}"/>
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].codorg}"/>
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].fechaAnalisis}"/>
                        <input type="hidden" class="form-control"  th:field="*{listAnalisis[__${stat.index}__].tipoOrganismo}"/>
                        
                        
                    </div>
                    
                    
                    
                     <fieldset class="col-md-12 col-sm-12 col-xs-12" th:fragment="buttons">
                        <span><br /></span>
                        <div class="form-group col-sm-12">
                            <div class="wrapper text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        id="guardarButton" th:value="actualizar">Guardar</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"
                                        data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
        </form>
    </div>
</body>
</html>