<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultsList" class="grid_10 height800" id="resultadoDetalleHidro" >
	
		<br/>
		<br/>
		<form name="form-edit-reporte-hidro-detalle" id="form-edit-reporte-hidro-detalle" method="post" 
				  th:action="@{/reporteAnalisisHidroBiologicoSave}" th:object="${reporteAnalisisHidroMain}"
				  role="form">
	 	<div class="form-group center">
	
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
		<fieldset>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
						
							<label class="control-label col-md-1 col-sm-1 col-xs-1 text-right" th:text="${#messages.msg('analisis.hidrobiologico.fecha.muestreo')}"   >Fecha</label>
							<div class="col-md-2 col-sm-2 col-xs-2">
								<div class="input-group input-append date"  >
               					 <input type="text" class="form-control "  id="idFechaAnalisisHidro" th:field="*{fechaMuestreo}" name="fechaMuestreo"  readonly="readonly"/>
            					</div>
							</div>
							
							<label class="control-label col-md-1 col-sm-1 col-xs-1 text-right"   th:text="${#messages.msg('analisis.hidrobiologico.persona.muestra')}" >MUESTREADOR</label>
							<div class="col-md-2 col-sm-2 col-xs-2">
								<input type="text" class="form-control "  id="inputMuestrador" th:attr="value=${reporteAnalisisHidroMain.personaMuestra}" readonly="readonly" style="display:none"/>
								<select class="form-control" id="cboMuestrador" name="cboMuestrador" th:field="*{personaMuestra}"></select>
							</div>
							
							<label class="control-label col-md-1 col-sm-1 col-xs-1 text-right" th:text="${#messages.msg('analisis.hidrobiologico.analista')}" >ANALISTA</label>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<input type="text" class="form-control"  id="inputAnalista" th:attr="value=${reporteAnalisisHidroMain.analista}" readonly="readonly" style="display:none"/>
								<select class="form-control" id="cboAnalista" name="cboAnalista" th:field="*{analista}" ></select>
							</div>
							
							<div class="btn-group col-md-1 col-sm-1 col-xs-1">
								<button type="button"  class="btn btn-info btn-crear-mant-correo" id="buttonAgregar"  onclick="agregarFilaVacia();"><span class="glyphicon glyphicon-plus"></span><label>Agregar</label></button>
							</div>
						</div>
					</div>
		</fieldset>
		
		<br/>
		
		<table  class="fancyTable" id="tablaReporteHidroBiologicoDetalle" cellpadding="0" cellspacing="0" >
			<thead>
				<tr>
					<th rowspan="3"  th:text="${#messages.msg('reporte.hidrobiologico.column.punto.muestreo')}" style="width: 250px;"></th>
					<th colspan="2"  th:text="${#messages.msg('reporte.hidrobiologico.column.fitoplancton')}" style="width: 200px;"></th>
					<th colspan="2"  th:text="${#messages.msg('reporte.hidrobiologico.column.zooplancton')}" style="width: 200px;"></th>
					<th rowspan="3" th:text="${#messages.msg('reporte.hidrobiologico.column.total')}" style="width: 100px;"></th>
					<th rowspan="3" th:text="${#messages.msg('reporte.hidrobiologico.column.minam')}" style="width: 100px;"></th>
					<th rowspan="3" th:text="${#messages.msg('reporte.hidrobiologico.column.acciones')}" style="width: 100px;"></th>
				</tr>
				
				<tr>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.algas')}" style="width: 200px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.cianobacterias')}" style="width: 200px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.nematodes')}" style="width: 200px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.otros')}" style="width: 200px;"></th>
				</tr>
				
				<tr>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.organismos')}" style="width: 150px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.organismos')}" style="width: 150px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.organismos')}" style="width: 150px;"></th>
					<th  th:text="${#messages.msg('reporte.hidrobiologico.column.organismos')}" style="width: 150px;"></th>
				</tr>
			</thead>
			
			<tbody id="detalleReporteAnalisis" >
			<tr th:each="detalle,stat : *{detalles}">
				<td>
					<select class="cboLocalidades form-control"  name="cboMeses" th:attr="indiceRow=${stat.index}, idpunto=${detalle.codsub} " th:field="*{detalles[__${stat.index}__].codsub}"></select>
				</td>
				<td class="text-center" th:text="${detalle.algas}" ></td>
				<td class="text-center" th:text="${detalle.cianobacterias}"></td>
				<td class="text-center" th:text="${detalle.nematodes}"></td>
				<td class="text-center" th:text="${detalle.otros}"></td>
				<td class="text-center" th:text="${detalle.total}"></td>
				<td class="text-center" th:text="${detalle.minam}"></td>
				<td class="text-center" th:text="${detalle.minam}"></td>
				
					<input type="hidden" th:field="*{detalles[__${stat.index}__].algas}"/>
					<input type="hidden" th:field="*{detalles[__${stat.index}__].cianobacterias}"/>
					<input type="hidden" th:field="*{detalles[__${stat.index}__].nematodes}"/>
					<input type="hidden" th:field="*{detalles[__${stat.index}__].otros}"/>
					<input type="hidden" th:field="*{detalles[__${stat.index}__].total}"/>
					<input type="hidden" th:field="*{detalles[__${stat.index}__].minam}"/>
				
			</tr>
			</tbody>			
			
		</table>
		
		  <fieldset class="col-md-12 col-sm-12 col-xs-12" th:fragment="buttons">
						<span><br /></span>
						<div class="form-group col-sm-12">
							<div class="wrapper text-center">
								<div class="btn-group">
									<button type="submit" class="btn btn-primary btn-sm"
										id="guardarButton" th:value="actualizar">Guardar</button>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm"
										data-dismiss="modal" onclick="limpiarDetalle();">Cancelar</button>
								</div>
							</div>
						</div>
     	  </fieldset>
			
		</div>
		
		</form>	
		
		<style>
		.bootstrap-datetimepicker{
			 z-index: 1000;
		}
		</style>
	
	</div>
	
	<div>
		<tr th:fragment="registroDetalle" th:object="${registroReporteDetalle}" th:attr="indiceRow=${indiceDetalle}" >
		<td>
				<select class="cboLocalidades form-control" th:attr="name=detalles[__${indiceDetalle}__].codsub, indiceRow=${indiceDetalle} , idpunto=${registroReporteDetalle.codsub} , value=${registroReporteDetalle.codsub}" >
				</select>
		</td>
		<td class="text-center" th:text="${registroReporteDetalle.algas}"></td>
		<td class="text-center" th:text="${registroReporteDetalle.cianobacterias}"></td>
		<td class="text-center" th:text="${registroReporteDetalle.nematodes}"></td>
		<td class="text-center" th:text="${registroReporteDetalle.otros}"></td>
		<td class="text-center" th:text="${registroReporteDetalle.total}"></td>
		<td class="text-center" th:text="${registroReporteDetalle.minam}"></td>
		
		<td class="text-center">
			<button type="button" class="btn btn-danger btn-delete-punto inactivar-registro-detalle" title="Inactivar"  th:attr="indiceRow=${indiceDetalle}"><span class="glyphicon glyphicon-erase"></span></button>
		</td>
	
		<input type="hidden" id="detalles1.algas" th:attr="name=detalles[__${indiceDetalle}__].algas , value=${registroReporteDetalle.algas} " />
		<input type="hidden" id="detalles1.cianobacterias" th:attr="name=detalles[__${indiceDetalle}__].cianobacterias , value=${registroReporteDetalle.cianobacterias}" />
		<input type="hidden" id="detalles1.nematodes" th:attr="name=detalles[__${indiceDetalle}__].nematodes , value=${registroReporteDetalle.nematodes}" />
		<input type="hidden" id="detalles1.otros"  th:attr="name=detalles[__${indiceDetalle}__].otros , value=${registroReporteDetalle.otros}" />
		<input type="hidden" id="detalles1.total" th:attr="name=detalles[__${indiceDetalle}__].total , value=${registroReporteDetalle.total}" />
		<input type="hidden" id="detalles1.minam" th:attr="name=detalles[__${indiceDetalle}__].minam , value=${registroReporteDetalle.minam}" />
		
		
		</tr>
	</div>
	
	
</body>
</html>