
<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title th:text="${#messages.msg('form312.Home.subtitulo')}"></title>

<script th:inline="javascript">
	/*<![CDATA[*/   
	var mensajeTipo = /*[[${mensajeTipo}]]*/ 'ninguno';
	/*]]>*/
</script>

</head>
<body>
	<div layout:fragment="content">
		
		<h3 class="text-center" th:text="${#messages.msg('form312.Home.subtitulo')}"></h3>
		
		<div class="containerform">
			<div class="container_save" style="display: none;"></div>
			
			<p class="main_heading">
				<legend th:text="${#messages.msg('search.criterios')}">Criterios</legend>
			</p>
			
			<form name="frmReporteGrafico" id="frmReporteGrafico"  action="#" method="post"
			      class="form-horizontal" role="form">
				<fieldset>
					<div class="col-md-12">
						<div class="form-group">
						    <label class="control-label col-md-1 col-sm-1 col-xs-1 text-right no-padding" th:text="${#messages.msg('formulario314.Home.metodoEnsayo')}"></label>
						    <div class="col-md-2 col-sm-2 col-xs-2">
						         <select class="form-control" id="cboTipoEnsayo" name="tipoEnsayo" style="height: 33px;"></select>
<!-- 							     <input type="hidden" id="cboTipoEnsayoHidden" th:value="*{tipoEnsayo}" /> -->
						    </div>
							<label class="control-label col-md-1 col-sm-1 col-xs-1 text-right no-padding" th:text="${#messages.msg('formulario314.Home.periodo')}"></label>
							<div class="col-md-2 col-sm-2 col-xs-2">                    		   
			                    <input type="text" id="periodo" name="periodo"  class="form-control" 
								       style="text-align: center;" maxlength="20" />
															
								<input type="hidden" value="" id="idcabeceraHidden"/>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		<div class="panel espaciado-superior">
			<div class="col-md-12 label-name">
				<div class="col-md-6">
				</div>
				<div class="col-md-6 right-align label-name">
					<button type="button" class="btn btn-warning" onclick="generarReporteVisual();">
						<span class="glyphicon glyphicon-stats"></span>
						<div style="display: inherit;" th:text="${#messages.msg('btn.generarGrafico')}"></div>
					</button>
				</div>
			</div>
		</div>
		
		<div class="panel">
			<div class="clear"></div>
				<div id="wrap_chart_plot_02" class="container_12 espaciado-superior" >
					<div id="chart_plot_02" class="demo-placeholder"></div>
					<div id="legendContainer"></div>  
				</div>
				<script type="text/javascript" th:src="@{/js/jquery.flot.js}"></script>
				<script type="text/javascript" th:src="@{/js/jquery.flot.time.js}"></script>
				<script type="text/javascript" th:src="@{/js/jquery.flot.symbol.js}"></script>
				<script type="text/javascript" th:src="@{/js/jquery.flot.resize.js}"></script>
				<script type="text/javascript" th:src="@{/js/jquery.flot.axislabels.js}"></script>
				<script type="text/javascript" th:src="@{/js/formulario312.js}"></script>
		</div>
		
	</div>
</body>
</html>