<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<!-- Modal content-->
	<div class="modal-content" id="id-modal-content" th:fragment="form-edit-form242">
	
		
	
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">
				<span class="modal-title" id="idModalTitle" th:text="${#messages.msg('formulario242.registrar')}">Editar</span> 
			</h4>
			<!-- Texto html escondido -->
			<span id="idValEditModalTitle"  style="display:none;" th:text="${#messages.msg('formulario242.Edit')}">Editar texto html</span>
        	<span id="idValCrearModalTitle" style="display:none;" th:text="${#messages.msg('formulario242.Crear')}">Crear texto html</span>
		</div>
		
		
		<div class="modal-footer">
		
			<form name="form-edit-form" id="form-edit-turbidimetroDigital-id" method="post" 
				  th:action="@{/formularioHeaderSave}" th:object="${formularioHeader242EditBean}"
				  role="form">
				  											
				<fieldset class="col-md-12 col-sm-12 col-xs-12">
					
						<div class="col-md-1 col-sm-2 col-xs-2">
							<label class="control-label" th:text="${#messages.msg('formulario242.Edit.fechaMuestreo')}"></label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<input type="text" id="strFechaMuestreo"  class="form-control" 
							       th:field="*{strFechaMuestreo}"
								   th:placeholder="${#messages.msg('muestra.seleccion')}"
								   style="text-align: center;" />
								   
								   <input type="hidden" id="codHeader" th:field="*{idHeader}" />	
						</div>
						
						<div class="col-md-1 col-sm-2 col-xs-2">
							<label class="control-label" th:text="${#messages.msg('formulario242.Edit.fechaRecepcion')}"></label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<input type="text" id="strFechaRecepcion"  class="form-control" 
							       th:field="*{strFechaRecepcion}"
								   th:placeholder="${#messages.msg('muestra.seleccion')}"
								   style="text-align: center;" maxlength="20" />
						</div>
			     
						<div class="col-md-1 col-sm-2 col-xs-2">
							<label class="control-label" th:text="${#messages.msg('formulario242.Edit.PersonaMuestrea')}"></label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<select class="form-control" id="cboPersonaMuestrea" name="cboPersonaMuestrea" th:field="*{personaMuestrea}" style="height: 33px;"></select>
								<input type="hidden" id="cboMuestreaHidden" th:value="*{personaMuestrea}" />	
						</div>
						
						<div class="col-md-1 col-sm-2 col-xs-2">
							<label class="control-label" th:text="${#messages.msg('formulario242.Edit.PersonaRecepcion')}"></label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2">
							<select class="form-control" id="cboPersonaRecepcion" name="cboPersonaRecepcion" th:field="*{personaRecepcion}" style="height: 33px;"></select>
						    <input type="hidden" id="cboRecepcionHidden" th:value="*{personaRecepcion}" />
						</div>
						
				</fieldset>
				
				<fieldset class="col-md-12 col-sm-12 col-xs-12">
				   <legend></legend>
						<div class="col-md-1 col-sm-2 col-xs-2">
					       <label class="control-label" th:text="${#messages.msg('formulario242.Edit.Observacion')}"></label>
						</div>
						<div class="col-md-11 col-sm-10 col-xs-10">
						     <textarea id="observacion" class="form-control" rows="2" th:field="*{observacion}"></textarea>
					    </div>
			    </fieldset> 
			    
			    <fieldset class="col-md-12 col-sm-12 col-xs-12" th:fragment="buttons">
						<span><br /></span>
						<div class="form-group col-sm-12">
							<div class="wrapper text-center">
								<div class="btn-group">
									<button type="submit" class="btn btn-primary btn-sm"
										id="guardarButton" th:value="actualizar">Guardar</button>
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm"
										data-dismiss="modal">Cancelar</button>
								</div>
							</div>
						</div>
					</fieldset> 	 
					 					       				
			</form>
			<fieldset class="col-md-12 col-sm-12 col-xs-12">
						<p></p>
			</fieldset>
			
			 <fieldset class="col-md-12 col-sm-12 col-xs-12" th:fragment="buttons">
				<div id="idTableVerificacion">
					<div class="container_12">					 
					 	<button type="button" class="btn btn-info btn-crear-mant-correo" data-toggle="modal" onclick="modificarDetalle()"><span class="glyphicon glyphicon-plus"></span><label th:text="${#messages.msg('tipoProceso.agregar')}"></label></button>
					</div>
					
					<div><p></p></div>
					
					<div class="container_12">
						<div th:replace="formulario242/formulario242TableDetalle :: resultsListDetalle" class="grid_10 height800" id="idFormularioTableDetalle"></div>
					</div>	
				</div>	
			</fieldset>
			
			
		</div>
	</div>
</body>
</html>